html, body {
    margin:0;
    padding:0;
    height:100%;
    background-image: url('background.jpg');
}

.background {
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    display: grid;
    place-items: center;
    /* justify-content: center; */
    background-image: url('background.jpg');
}
.conteiner {
    height: auto;
    width: 80%;
    max-width: 1000px;
    max-height: 800px;
    background-color: aliceblue;
    padding:  10px;
    flex-wrap: wrap;
    border-radius: 10px;
    border:2px solid black;

}

.name {
    text-align: center;
    padding-bottom: 20px;
}

.left {
    justify-content: right;
    width:400px;
}

.right {
    display: flex;
}

li {
    list-style-type: none;  
}

.border {
    border-left:2px solid black;
    height:470px;
    padding-right: 25px;
}


